*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@font-face {
  font-family: "Integral CF";
  src: url("../fonts-integral/AnyConv.com__Fontspring-DEMO-integralcf-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("../fonts-satoshi/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("../fonts-satoshi/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Regular";
  src: url("../fonts-satoshi/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Satoshi", sans-serif;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 0.9375rem;
  max-width: 79.375rem;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

[class*=__title] {
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 79.375em) {
  [class*=__title] {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (font-size: clamp( 2rem , 1.6631578947rem  +  1.6842105263vw , 3rem )) {
    [class*=__title] {
      font-size: clamp( 2rem , 1.6631578947rem  +  1.6842105263vw , 3rem );
    }
  }
  @supports not (font-size: clamp( 2rem , 1.6631578947rem  +  1.6842105263vw , 3rem )) {
    [class*=__title] {
      font-size: calc(2rem + 1 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  [class*=__title] {
    font-size: 2rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__main {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.top-header__wrapper {
  background-color: #000;
  color: #fff;
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.top-header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.625rem 0;
  position: relative;
}
@media (max-width: 47.99875em) {
  .top-header__row {
    padding: 0.3125rem 0;
  }
}
.top-header__info {
  font-size: 0.875rem;
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
}
.top-header__info > a {
  text-decoration: underline;
}
@media (max-width: 26.875em) {
  .top-header__info > span {
    display: none;
  }
}
.top-header__exit {
  position: absolute;
  right: 0;
  width: 0.875rem;
  height: 1.25rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.exit-top-header__border {
  width: 100%;
  height: 0.125rem;
  background-color: #fff;
  position: absolute;
  border-radius: 0.625rem;
}
.exit-top-header__border:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.exit-top-header__border:nth-child(2) {
  top: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-header__wrapper {
  position: fixed;
  background-color: #fff;
  z-index: 10;
  top: 2.125rem;
  left: 0;
  right: 0;
}
@media (max-width: 47.99875em) {
  .main-header__wrapper {
    top: 1.5rem;
  }
}
.main-header__row {
  padding: 2.375rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.9375rem;
}
@media (max-width: 61.99875em) {
  .main-header__row {
    padding: 1.25rem 0;
  }
}
@media (max-width: 47.99875em) {
  .main-header__row {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
    padding: 0.625rem 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (max-width: 33.125em) {
  .main-header__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.main-header__logo {
  font-size: 2rem;
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 47.99875em) {
  .main-header__logo {
    font-size: 1.5625rem;
  }
}
@media (any-hover: hover) {
  .main-header__logo:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.main-header__search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 33.125em) {
  .main-header__search {
    position: fixed;
    left: 0.9375rem;
    top: -100%;
    z-index: 9;
    width: 92%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 0.3125rem 0;
            box-shadow: 0 0 0.3125rem 0;
    border-radius: 3.875rem;
  }
}
.main-header__search.active-main-header-search {
  top: 4.4375rem;
}
.main-header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.875rem;
     -moz-column-gap: 0.875rem;
          column-gap: 0.875rem;
}
@media (max-width: 47.99875em) {
  .main-header__buttons {
    -webkit-column-gap: 0.875rem;
       -moz-column-gap: 0.875rem;
            column-gap: 0.875rem;
  }
}
.main-header__burger {
  display: none;
}
@media (max-width: 61.99875em) {
  .main-header__burger {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
.menu-burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  padding-top: 5rem;
  z-index: -1;
  background-color: #fff;
  overflow-y: auto;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 33.125em) {
  .menu-burger {
    width: 100%;
  }
}
.active-menu-burger {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.burger-main-header__wrapper {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (any-hover: hover) {
  .burger-main-header__wrapper:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    cursor: pointer;
  }
}
.burger-main-header__border {
  width: 100%;
  height: 0.1875rem;
  background-color: #000;
  position: absolute;
  border-radius: 0.625rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger-main-header__border:nth-child(1) {
  top: 0;
}
.burger-main-header__border:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger-main-header__border:nth-child(3) {
  bottom: 0;
}

.burger-menu .burger-main-header__border:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.burger-menu .burger-main-header__border:nth-child(2) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.burger-menu .burger-main-header__border:nth-child(3) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

.nav-main-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}
@media (max-width: 61.99875em) {
  .nav-main-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    padding-top: 3.125rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 5rem;
  }
}
@media (max-width: 33.125em) {
  .nav-main-header__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.nav-main-header__item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 61.99875em) {
  .nav-main-header__item {
    font-size: 1.5625rem;
  }
}
@media (any-hover: hover) {
  .nav-main-header__item:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.nav-main-header__item--shop-popap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.875rem;
  cursor: pointer;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: -15px;
}
.nav-main-header__item--shop-popap::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-image: url(../img/header/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0.3125rem 0.125rem;
  margin-bottom: -0.4375rem;
}
.nav-main-header__shop {
  -webkit-transform: scale(0) translateY(-200%);
      -ms-transform: scale(0) translateY(-200%);
          transform: scale(0) translateY(-200%);
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  top: 90%;
  left: 0;
  -webkit-box-shadow: 0px 0px 0.375rem 0px;
          box-shadow: 0px 0px 0.375rem 0px;
  padding: 1.25rem;
  border-radius: 0.625rem;
}

.active-header-shop-popap {
  -webkit-transform: scale(1) translateY(0%);
      -ms-transform: scale(1) translateY(0%);
          transform: scale(1) translateY(0%);
  pointer-events: all;
}

.shop-nav-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
}
.shop-nav-header__link {
  white-space: nowrap;
}

.search-main-header__label {
  position: relative;
}
.search-main-header__label > input {
  background-color: #F0F0F0;
  padding: 0.75rem 0.9375rem 0.875rem 3.25rem;
  border-radius: 3.875rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.search-main-header__label > input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.search-main-header__label > input:focus::-moz-placeholder {
  opacity: 0;
}
.search-main-header__label > input:focus:-ms-input-placeholder {
  opacity: 0;
}
.search-main-header__label > input:focus::-ms-input-placeholder {
  opacity: 0;
}
.search-main-header__label > input:focus::placeholder {
  opacity: 0;
}
@media (any-hover: hover) {
  .search-main-header__label > input:hover {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
    cursor: pointer;
  }
  .search-main-header__label > input:focus:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.search-main-header__label > span::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../img/header/search.svg);
  background-size: contain;
  position: absolute;
  left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.buttons-main-header__icon-search {
  display: none;
  width: 24px;
  height: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.buttons-main-header__icon-search > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 33.125em) {
  .buttons-main-header__icon-search {
    display: block;
  }
}
@media (any-hover: hover) {
  .buttons-main-header__icon-search:hover {
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0.1875rem 0;
            box-shadow: 0 0 0.1875rem 0;
    padding: 0.1875rem;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }
}
.buttons-main-header__basket {
  width: 24px;
  height: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.buttons-main-header__basket > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (any-hover: hover) {
  .buttons-main-header__basket:hover {
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0.1875rem 0;
            box-shadow: 0 0 0.1875rem 0;
    padding: 0.1875rem;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }
}
.buttons-main-header__user {
  width: 24px;
  height: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.buttons-main-header__user > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (any-hover: hover) {
  .buttons-main-header__user:hover {
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0.1875rem 0;
            box-shadow: 0 0 0.1875rem 0;
    padding: 0.1875rem;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.top__wrapper {
  background-color: #F2F0F1;
  width: 100%;
  min-height: 41.4375rem;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.top__container {
  padding-top: 10.875rem;
}
@media (max-width: 61.99875em) {
  .top__container {
    padding-top: 9.25rem;
  }
}
@media (max-width: 47.99875em) {
  .top__container {
    padding-top: 8rem;
  }
}
@media (max-width: 29.99875em) {
  .top__container {
    padding-top: 6.5rem;
  }
}
.top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media (max-width: 43.75em) {
  .top__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.top__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41.4375rem;
          flex: 1 1 41.4375rem;
  max-height: 100svh;
  min-width: 27.8125rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 43.75em) {
  .top__image {
    min-width: 0rem;
  }
}
.top__image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  right: -3.8125rem;
}
@media (max-width: 61.99875em) {
  .top__image > img {
    bottom: -0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .top__image > img {
    right: -0.9375rem;
    bottom: 0rem;
  }
}

.info-top__row {
  max-width: 36.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media (max-width: 50em) {
  .info-top__row {
    row-gap: 1.25rem;
  }
}
@media (max-width: 43.75em) {
  .info-top__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.info-top__title {
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  line-height: 1; /* 64/64 */
  text-transform: capitalize;
}
@media (min-width: 77.5em) {
  .info-top__title {
    font-size: 4rem;
  }
}
@media (min-width: 56.25em) and (max-width: 77.5em) {
  @supports (font-size: clamp( 2.25rem , -2.3823529412rem  +  8.2352941176vw , 4rem )) {
    .info-top__title {
      font-size: clamp( 2.25rem , -2.3823529412rem  +  8.2352941176vw , 4rem );
    }
  }
  @supports not (font-size: clamp( 2.25rem , -2.3823529412rem  +  8.2352941176vw , 4rem )) {
    .info-top__title {
      font-size: calc(2.25rem + 1.75 * (100vw - 56.25rem) / 21.25);
    }
  }
}
@media (max-width: 56.25em) {
  .info-top__title {
    font-size: 2.25rem;
  }
}
@media (max-width: 43.75em) {
  .info-top__title {
    text-align: center;
  }
}
.info-top__text {
  line-height: 1.375; /* 22/16 */
  color: rgba(0, 0, 0, 0.6);
}
@media (min-width: 79.375em) {
  .info-top__text {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (font-size: clamp( 0.875rem , 0.8328947368rem  +  0.2105263158vw , 1rem )) {
    .info-top__text {
      font-size: clamp( 0.875rem , 0.8328947368rem  +  0.2105263158vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8328947368rem  +  0.2105263158vw , 1rem )) {
    .info-top__text {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .info-top__text {
    font-size: 0.875rem;
  }
}
@media (max-width: 43.75em) {
  .info-top__text {
    text-align: center;
  }
}
.info-top__button {
  margin-bottom: 1rem;
  padding: 0.9375rem 4.1875rem;
  background-color: #000;
  color: #fff;
  border-radius: 3.875rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 61.99875em) {
  .info-top__button {
    margin-bottom: 0rem;
  }
}
@media (max-width: 43.75em) {
  .info-top__button {
    width: 100%;
  }
}
@media (any-hover: hover) {
  .info-top__button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.key-metrics-top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  min-width: 18.75rem;
}
@media (max-width: 78.75em) {
  .key-metrics-top__row {
    max-width: 24rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 0.75rem;
  }
}
@media (max-width: 54.375em) {
  .key-metrics-top__row {
    max-width: 21.875rem;
  }
}
@media (max-width: 37.5em) {
  .key-metrics-top__row {
    max-width: 18.75rem;
  }
}
.key-metrics-top__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.key-metrics-top__border {
  width: 4rem;
  height: 0.0625rem;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #000;
  opacity: 0.3;
}
@media (max-width: 78.75em) {
  .key-metrics-top__border:nth-child(4) {
    display: none;
  }
}
@media (max-width: 51.875em) {
  .key-metrics-top__border {
    width: 2.5rem;
  }
}
.key-metrics-top__info-number {
  font-weight: 700;
}
@media (min-width: 79.375em) {
  .key-metrics-top__info-number {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (font-size: clamp( 1.5rem , 1.1631578947rem  +  1.6842105263vw , 2.5rem )) {
    .key-metrics-top__info-number {
      font-size: clamp( 1.5rem , 1.1631578947rem  +  1.6842105263vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.1631578947rem  +  1.6842105263vw , 2.5rem )) {
    .key-metrics-top__info-number {
      font-size: calc(1.5rem + 1 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .key-metrics-top__info-number {
    font-size: 1.5rem;
  }
}
.key-metrics-top__text {
  line-height: 1.375; /* 22/16 */
  color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
}
@media (min-width: 79.375em) {
  .key-metrics-top__text {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (font-size: clamp( 0.75rem , 0.6657894737rem  +  0.4210526316vw , 1rem )) {
    .key-metrics-top__text {
      font-size: clamp( 0.75rem , 0.6657894737rem  +  0.4210526316vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 0.6657894737rem  +  0.4210526316vw , 1rem )) {
    .key-metrics-top__text {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .key-metrics-top__text {
    font-size: 0.75rem;
  }
}
@media (max-width: 51.875em) {
  .key-metrics-top__text {
    white-space: wrap;
  }
}

.brands__wrapper {
  background-color: #000;
  position: relative;
}
.brands__container {
  margin-bottom: 4.5rem;
}
@media (max-width: 47.99875em) {
  .brands__container {
    margin-bottom: 3.125rem;
  }
}
.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  padding: 2.75rem 0;
}
@media (max-width: 47.99875em) {
  .brands__row {
    padding: 2.375rem 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.brands__image > img {
  width: 100px;
  height: 100px;
  max-height: 2.375rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.new-arrivals__container {
  margin-bottom: 4rem;
}
@media (max-width: 47.99875em) {
  .new-arrivals__container {
    margin-bottom: 2.5rem;
  }
}
.new-arrivals__row-column {
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.new-arrivals__title {
  margin-bottom: 3.4375rem;
  text-align: center;
}
.new-arrivals__cards {
  margin-bottom: 2.25rem;
}
.new-arrivals__button {
  margin-bottom: 4rem;
  text-align: center;
  padding: 0.9375rem 5rem;
  font-weight: 500;
  border: 0.0625rem solid rgba(0, 0, 0, 0.6);
  border-radius: 3.875rem;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 47.99875em) {
  .new-arrivals__button {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 29.99875em) {
  .new-arrivals__button {
    width: 100%;
    top: 0.9375rem;
  }
}
@media (any-hover: hover) {
  .new-arrivals__button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0 0 0.3125rem 0;
            box-shadow: 0 0 0.3125rem 0;
  }
}

.cards-goods__wrapper {
  position: relative;
}
.cards-goods__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  overflow-x: auto;
  overflow-y: hidden;
}
.cards-goods__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 18.4375rem;
          flex: 1 1 18.4375rem;
}

.card-goods__image {
  margin-bottom: 0.5rem;
  overflow: hidden;
  border-radius: 1.25rem;
  background-color: #f0eeed;
  min-width: 12.375rem;
}
.card-goods__image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.card-goods__info-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: 1.25rem;
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
@media (max-width: 47.99875em) {
  .card-goods__info-text {
    font-size: 1rem;
  }
}
.card-goods__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.8125rem;
     -moz-column-gap: 0.8125rem;
          column-gap: 0.8125rem;
}
@media (max-width: 47.99875em) {
  .card-goods__rating {
    -webkit-column-gap: 0.6875rem;
       -moz-column-gap: 0.6875rem;
            column-gap: 0.6875rem;
  }
}
.card-goods__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.rating-card-goods__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
}
.rating-card-goods__rating {
  font-size: 0.875rem;
  margin-bottom: -0.125rem;
}
.rating-card-goods__rating > span {
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 47.99875em) {
  .rating-card-goods__rating {
    font-size: 0.75rem;
  }
}

.star-card-goods__icon {
  width: 1.125rem;
  height: 1.125rem;
}
@media (max-width: 47.99875em) {
  .star-card-goods__icon {
    width: 0.9375rem;
    height: 0.9375rem;
  }
}
.star-card-goods__icon > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.price-card-goods__price {
  font-size: 1.5rem;
}
@media (max-width: 47.99875em) {
  .price-card-goods__price {
    font-size: 1.25rem;
  }
}
.price-card-goods__discount {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}
@media (max-width: 47.99875em) {
  .price-card-goods__discount {
    font-size: 1.25rem;
  }
}
.price-card-goods__discount-percent {
  font-size: 0.75rem;
  color: #f33;
  padding: 0.375rem 0.8125rem;
  background-color: rgba(255, 51, 51, 0.1);
  border-radius: 3.875rem;
  margin-bottom: -0.125rem;
}
@media (max-width: 47.99875em) {
  .price-card-goods__discount-percent {
    font-size: 0.625rem;
  }
}