@font-face {
    font-family: 'Integral CF';
    src: url('../fonts-integral/AnyConv.com__Fontspring-DEMO-integralcf-bold.woff2') format('woff2');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}