@import url("./fonts-proxima-nova.css");
@import url(./null.css);

body{
    font-family: "Proxima Nova", sans-serif;
    color: #2b2929;
    background-color: #F8F8F8;

  }
[class*="__container"]{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
  }
.wrapper{
    min-height: 100%;
    overflow: clip ;
}
/* =================================== */
.title {
  font-size: 40px;
  line-height: 1.4; /* 28/20 */
}
/* ============================= */
.header {
}
.header__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  background-color: #F8F8F8;
}
.header__top {

}
.top-header {
}
.top-header__wrapper {

}
.top-header__container {
  padding-top: 15px;
  padding-bottom: 15px;

}
.top-header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.top-header__list {
  display: flex;
  gap: 30px;
flex-wrap: wrap;
}
.top-header__item {
}
.top-header__link {
  color: #535353;
  line-height: 1.875; /* 30/16 */
  white-space: nowrap;
  transition: 0.3s;
}
@media (any-hover: hover) {
.top-header__link:hover {
  color: #ffbc57;
}
}
.top-header__help {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
}
.help-top-header {
}
.help-top-header__info-help {
  color: #535353;
  line-height: 1.875; /* 30/16 */
  margin-right: 20px;
  white-space: nowrap;
}
.help-top-header__messages {
  display: flex;
  gap: 10px;
  margin-right: 30px;
}
.header-help-messages {
}
.header-help-messages__link {
  width: 30px;
  transition: 0.3s;
}
@media (any-hover: hover) {
.header-help-messages__link:hover {
  transform: scale(1.2);
}
}
.header-help-messages__link>img {
  width: 100%;
}
.help-top-header__languages {
}
.header-help-languages {
}
.header-help-languages__select {
  background-color: inherit;
  font-size: 19px;
  transition: 0.3s;
}
@media (any-hover: hover) {
.header-help-languages__select:hover {
  color: #ffbc57;
}
}
.top-header__burger {
  display: none;
  position: relative;  
  height: 25px;
  width: 38px;
  border-top: 12px solid #ffffff;
  border-bottom: 12px solid #ffffff;
  border-left: 6px solid #ffffff;
  border-right: 6px solid #ffffff;
  box-sizing: content-box;
}
.burger-top-header {
}
.burger-top-header__border {
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 8px;
  position: absolute;
  left: 0;
}
.burger-top-header__border:nth-child(1) {
}
.burger-top-header__border:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger-top-header__border:nth-child(3) {
  bottom: 0;
}
@media (max-width: 1050px){
  .top-header__list {
    gap: 20px;
  }
}
@media (max-width: 991.98px) {
  .top-header__container {
    /* display: none; */
    padding: 0;
  }
  .top-header__wrapper {
    background-color: #ffffff;

  }
  .top-header__row {
    align-items: start;
    flex-direction: column;
  }
  .top-header__list {
    flex-direction: column;
  }
  .top-header__help {
    flex-direction: column;
    align-items: start;

  }
  .top-header__link {
    font-size: 20px;
    line-height: normal;
  }
  .top-header__help {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  
}
@media (max-width: 600px) {
}
@media (max-width: 479.98px) {
}
/* ================= */
.header__main {
}
.main-header {
}
.main-header__wrapper {
  background-color: #ffffff;
    border-bottom: 2px solid #F8F8F8;
}
.main-header__container {
  padding-top: 25px;
  padding-bottom: 25px;
}
.main-header__row{
display: flex;
justify-content: space-between;
align-items: center;
gap: 15px;
position: relative;
}
.main-header__logo {
  flex-basis: 250px;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 200px;
}
.main-header__logo>img {
  width: 100%;
}
.main-header__button {
  padding: 11px 20px;
  border-radius: 8px 8px 8px 8px;
  background-color: #ffbc57;
  color: #fff;
  font-size: 19px;
  line-height: 1.263; /* 24/19 */
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}
@media (any-hover: hover) {
.main-header__button:hover {
  background-color: #f8a82f;

}
}
.main-header__button::before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../img/header/header-main/menu-catalog.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.5s;
}
.main-header__button:hover::before{
  transform: rotate(90deg);
}
.main-header__search {
  border: 1px solid #b1b1b1;
  border-radius: 8px;
  max-width: 421px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 421px;
  align-items: center;
  position: relative;
}
.main-header__search>input {
  padding: 13px 15px;
  color: #b1b1b1;
}
.main-header__search>input::placeholder {
  color: #b1b1b1;
}
.main-header__search::after {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../img/header/header-main/poisk.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.main-header__search:hover::after {
  transform: translateY(-50%) scale(1.2);
  cursor: pointer;
}
.main-header__search-icon {
  display: none;
  transition: 0.3s;
}
@media (any-hover: hover) {
.main-header__search-icon:hover {
transform: scale(1.1);
}
}
.main-header__tell {
}
.tell-main-header__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.tell-main-header {
}
.tell-main-header__icon {
  width: 50px;
  height: 50px;
  transition: 0.3s;
  position: relative;
  z-index: 5;
}
@media (max-width: 991.98px) {

}
@media (max-width: 767.98px) {
  .main-header__row{
    flex-direction: row-reverse;
  }

}
@media (max-width: 600px) {
 
  
}
@media (max-width: 479.98px) {
 
}
/* ============================= */
.tell-main-header__popap {
  position: absolute;
  left: 21%;
  top: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .12);
  border-radius: 8px 8px 8px 8px;
  padding: 65px 19px 21px 69px;
  margin: -67px -18px 0px -53px;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
}
.tell-header-popap {
  display: none;
}

.tell-main-header__wrapper:hover .tell-main-header__popap {
  visibility: visible;
  opacity: 1;
}
.tell-main-header__wrapper:hover .tell-main-header__info {
  visibility: visible;
  opacity: 1;
}
.tell-main-header__wrapper:hover .tell-main-header__arrow {
  visibility: visible;
  opacity: 1;
}

.tell-main-header__wrapper:hover .tell-main-header__arrow::before {
  left: 0px;
  width: 17px;
}
.tell-main-header__wrapper:hover .tell-main-header__arrow::after {
  left: 0px;
  width: 17px;
}
.tell-main-header__arrow {
  height: 24px;
  width: 24px;
  position: relative;
  transition: 0.3s;
  z-index: 5;
}
.tell-main-header__arrow::before {
  content: '';
  background-color: #535353;
  height: 3px;
  width: 10px;
  border-radius: 8px;
  transition: 0.3s;
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 10px;
}
.tell-main-header__arrow::after {
  content: '';
  background-color: #535353;
  height: 3px;
  width: 10px;
  border-radius: 8px;
  transition: 0.3s;
  transform: rotate(045deg);
  position: absolute;
  top: 50%;
  left: 5px;
}

.popap-tell-header__link-tell {
  color: #2b2929;
  font-size: 20px;
  line-height: 1.4; /* 28/20 */
}
.popap-tell-header__call {
  color: #ffbc57;
  font-size: 19px;
  line-height: 1.263; /* 24/19 */
}
@media (any-hover: hover) {
  .popap-tell-header__link-tell:hover {
    color: #ffbc57;
  }
  .popap-tell-header__call:hover {
    color: #f69e1a;
  }
  .tell-main-header__icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}
}
.tell-main-header__icon>img {
  width: 100%;
}
 .tell-main-header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  position: relative;
  z-index: 5;
}

.info-tell-main-header {
}
.info-tell-main-header__text {
  color: #535353;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.692; 
  transition: 0.3s;
  
}
.info-tell-main-header__link-tell {
  color: #2b2929;
  font-size: 20px;
  line-height: 1.4; 
  transition: 0.3s;
}
@media (any-hover: hover) {
  .info-tell-main-header__text:hover {
  color: #ffbc57;
}
.tell-main-header__arrow:hover {
  cursor: pointer;
} 
  .info-tell-main-header__link-tell:hover {
  color: #ffbc57;
  }
}
.main-header__selected-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.selected-main-header {
}
.selected-main-header__selected {
}
.selected-main-header__basket {
}
.selected-main-header__basket, .selected-main-header__selected {
  width: 50px;
  transition: 0.3s;
}
.selected-main-header__basket>img, .selected-main-header__selected>img {
  width: 100%;
}
.selected-main-header__icon-tell {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: none;
  transition: 0.3s;
}
.selected-main-header__icon-tell>img {
  width: 100%;
}
@media (any-hover: hover) {
  .selected-main-header__basket:hover, .selected-main-header__selected:hover {
    transform: scale(1.1);
  }
  .selected-main-header__icon-tell:hover {
  transform: scale(1.1);
  cursor: pointer;  
  }
}
.main-header__burger {
  width: 37px;
  min-width: 37px;
  height: 25px;
  position: relative;
  display: none;
}
.main-header-burger {
}
.main-header-burger__border {
  width: 100%;
  height: 3px;
  background-color: #2b2929;
  border-radius: 8px;
  position: absolute;
  left: 0;
  transition: 0.3s;
}
.main-header-burger__border:nth-child(1) {
  top: 0;
}
.main-header-burger__border:nth-child(2) {
  transform: translateY(-50%);
  top: 50%;
}
.main-header-burger__border:nth-child(3) {
  bottom: 0;
}

.active-burger-icon .main-header-burger__border:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
.active-burger-icon .main-header-burger__border:nth-child(2) {
  transform: scale(0);
}
.active-burger-icon .main-header-burger__border:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}


/* ============== */
@media (max-width: 991.98px) {
  .main-header__burger {
    display: block;
  }
  .tell-main-header__info {
    display: none;
  }
  .tell-main-header__arrow {
    display: none;
  }
  
  .tell-main-header__wrapper:hover .tell-main-header__info {
    display: block;
  }
  .sale-nav-header__link {
    font-size: 20px;
  }
  .rooms-nav-header__link {
    font-size: 20px;
    line-height: normal;
  }

  .main-header__tell {
    position: fixed;
    left: 30px;
    bottom: 30px;
    padding: 10px;
    background-color: #b1b1b1;
    border-radius: 50%;
  }
  .tell-main-header__popap {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .main-header__search {
    position: absolute;
    top: 63px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: none;
    background-color: #ffffff;
  }
  .main-header__logo {
    overflow: hidden;
    margin-right: -46px;
    min-width: 100px;
    flex-basis: 163px;
  }
 
}
@media (max-width: 600px) {
  
  
}
@media (max-width: 479.98px) {
  .main-header__logo>img {
  position: relative;
  left: -49px;
  }
  
}
/* ==================================== */
.header__nav {
}
.nav-header {
}
.nav-header__wrapper {
  background-color: #ffffff;
}
.nav-header__container {
  padding-top: 18px;
  padding-bottom: 18px;
}
.nav-header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

}
.nav-header__sale {
}
.sale-nav-header {
}
.sale-nav-header__list {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.sale-nav-header__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sale-nav-header__link {
  color: #535353;
  font-size: 19px;
  line-height: 1.263; /* 24/19 */
  transition: 0.3s;
  white-space: nowrap;

}
@media (any-hover: hover) {
.sale-nav-header__link:hover {
  color: #ffbc57;
}
}
.nav-header__rooms {
}
.rooms-nav-header {
}
.rooms-nav-header__list {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.rooms-nav-header__item {
}
.rooms-nav-header__link {
  color: #535353;
  font-size: 19px;
  line-height: 1.263; /* 24/19 */
  transition: 0.3s;
  white-space: nowrap;
}
@media (any-hover: hover) {
.rooms-nav-header__link:hover {
  color: #ffbc57;
}
}
@media (max-width: 1250px) {
  .sale-nav-header__list {
    gap: 20px;
  }
  .rooms-nav-header__list {
    gap: 20px;

  }
}
@media (max-width: 1100px) {
  .nav-header__row {
    flex-direction: column;
    gap: 15px;
  }
}
@media (max-width: 991.98px) {
  .nav-header__row {
    align-items: start;
  }
  .sale-nav-header__list {
    flex-direction: column;
    align-items: start;
  }
  .rooms-nav-header__list {
    flex-direction: column;
    align-items: start;

  }
}
@media (max-width: 767.98px) {
}
@media (max-width: 479.98px) {
 
}
.header__burger {
}
.burger-header {
}
@media (max-width: 991.98px) {
  .burger-header__container {
    transform: translateY(-300%);
    transition: 0.3s;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    gap: 20px;
    padding: 10px 15px 40px 15px;
  }
  .nav-header__container {
    padding-top: 0;
    padding-bottom: 0;
    padding: 0;
  }
  .burger-header__container {
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 20px;
    min-width: 50%;
    height: 100%;
    overflow: auto;
    margin-top: 79px;
    padding-bottom: 40px;
    
  }
  .burger-header-active {
    transform: translatex(0%);
    
  }
}
@media (max-width: 767.98px) {
  .burger-header__container {
    margin-top: 122px;
    right: 0;
    left: inherit;
    /* transform: translatex(300%); */
  }
}
@media (max-width: 479.98px) {
  .burger-header__container {
    min-width: 100%;

  }
}
/* ===================================== */
.top-slider {
}
.top-slider__container {
  padding-top: 250px;
  padding-bottom: 70px;
}
.top-slider__slider {
  position: relative;
}
.slider-top {
}
.slider-top__image {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 600px) {
  .slider-top__image {
    content: url(../img/slider/slide-1-600px.png);
  }
}
.slider-top__wrapper-breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.slider-top__wrapper-breadcrumbs>div{
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: 0.3s;
}
.slider-top__wrapper-breadcrumbs>div:nth-child(3){
  background-color: #f8a82f;
  border: 3px solid #ffffff;
}
@media (any-hover: hover) {
.slider-top__wrapper-breadcrumbs>div:hover{
  transform: scale(1.5);
  cursor: pointer;
}
}
.slider-top__arrow {
  position: absolute;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: 0.3s;
}
.slider-top__arrow--left {
  left: 20px;
  top: 50%;
}
.slider-top__arrow--right {
  right: 20px;
  top: 50%;
}
@media (any-hover: hover) {
.slider-top__arrow:hover {
  transform: translateY(-50%) scale(1.1);
  box-shadow: -3px 4px 15px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
}
@media (max-width: 1100px){
  .top-slider__container {
    padding-top: 290px;
  }
}
@media (max-width: 991.98px) {
  .top-slider__container {
    padding-top: 150px;
  }
}
@media (max-width: 767.98px) {
  .top-slider__container {
    padding-top: 190px;
  }
  .slider-top__arrow {
  display: none;
  }
  .slider-top__wrapper-breadcrumbs {
  bottom: 5px;
  }
}
@media (max-width: 600px) {
}
@media (max-width: 479.98px) {
}
/* ================================= */
.populars {
}
.populars__container {
  padding-bottom: 70px;
}
.populars__title {
  margin-bottom: 40px;
}
.populars__item {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 10px;
  justify-content: center;
}
.item-populars {
}
.item-populars__card {
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
  flex-basis: 250px;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 350px;
  box-shadow: -3px 4px 15px 0 rgba(0,0,0,.06);
  overflow: hidden;
}
@media (any-hover: hover) {
.item-populars__card:hover {
  box-shadow: -3px 4px 15px 0 rgba(0,0,0,0.5);
}
}
/* .item-populars__card:hover +  */
.item-populars__card:hover::after {
opacity: 1;
}
.card-item-populars {
}
.card-item-populars__title {
  font-size: 20px;
  line-height: 1.4; /* 28/20 */
  position: absolute;
  top: 20px;
  left: 20px;
}
.card-item-populars__number {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #b1b1b1;
  font-size: 20px;
  line-height: 1.4; /* 28/20 */
}
.card-item-populars__image {
  width: 100%;
  position: relative;
  z-index: 2;
}
.item-populars__card::before {
  content: '';
  width: 250px;
  height: 250px;
  background-image: url(../img/populars/background-image.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 108px;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
.item-populars__card::after {
  content: '';
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  width: 50px;
  height: 50px;
  background-image: url(../img/populars/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  transition: 0.3s;
}


@media (max-width: 1050px){
}
@media (max-width: 991.98px) {
}
@media (max-width: 800px) {
  .item-populars__card {
  flex-basis: 200px;
  }
}
@media (max-width: 600px) {
}
@media (max-width: 479.98px) {
}
/* ================================================ */
.most-popular {
}
.most-popular__container {
  padding-bottom: 80px;
}
.most-popular__title {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.most-popular__title--see-all {
  color: #ffbc57;
  font-size: 19px;
  line-height: 1.263; /* 24/19 */
  display: flex;
  gap: 10px;
  transition: 0.3s;
}
@media (any-hover: hover) {
.most-popular__title--see-all:hover {
  transform: scale(1.1);
  color: #faa82c;
}
}
.most-popular__title--see-all::after {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../img/most-popular/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.most-popular__item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.item-most-popular {
}
.item-most-popular__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 400px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: -3px 4px 15px 0 rgba(0,0,0,.06);
  transition: 0.3s;
  cursor: pointer;
}
@media (any-hover: hover) {
.item-most-popular__card:hover {
  box-shadow: -3px 4px 15px 0 rgba(0,0,0,0.5);
}
}
.card-item-most-popular {
}
.card-item-most-popular__image {
  border-radius: 8px;

}
.card-item-most-popular__image>img {
  width: 100%;
}
.card-item-most-popular__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  flex-grow: 1;
}
.info-most-popular {
}
.info-most-popular__info {
  color: #535353;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.692; /* 22/13 */
}
.info-most-popular__info-text {
  color: #2b2929;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.263; /* 24/19 */
}
.info-most-popular__info-has {
  color: #535353;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.692; /* 22/13 */
  display: flex;
  align-items: center;
  gap: 5px;
}
.info-most-popular__info-has::before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../img/most-popular/arrow-has.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.card-item-most-popular__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buy-most-popular {
}
.buy-most-popular__price {
}
.price-buy-most-popular {
}
.price-buy-most-popular__discount-price {
  color: #e03d3d;
  font-size: 15px;
  line-height: 1.466; /* 22/15 */
  text-decoration: line-through;
}
.price-buy-most-popular__price {
  font-size: 20px;
  line-height: 1.4; /* 28/20 */
}
.buy-most-popular__selected-item{
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (any-hover: hover) {
.buy-most-popular__selected:hover, .buy-most-popular__basket:hover {
  transform: scale(1.1);
  box-shadow: -3px 4px 15px 0 rgba(0,0,0,0.2);
}
}
.buy-most-popular__basket {
}
.buy-most-popular__selected, .buy-most-popular__basket {
  width: 50px;
  border-radius: 50%;
  transition: 0.3s;
}
.buy-most-popular__selected>img, .buy-most-popular__basket>img {
  width: 100%;
}
@media (max-width: 1050px){
}
@media (max-width: 991.98px) {
  .item-most-popular__card {
    flex-basis: 200px;
  }
}
@media (max-width: 767.98px) {
}
@media (max-width: 600px) {
}
@media (max-width: 479.98px) {
}
